<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="ISO-8859-1">
    <title>Subscription Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/user/clients}">Subscription Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/clients}">Subscription Management</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav" >
        <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               th:text="${#authentication.name}"></a>
            <ul class="dropdown-menu">
                <li>
                    <form method="post" th:action="@{/logout}">
                        <button class="dropdown-item" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Update Subscription </h1>
            <div class = "card-body">
                <form th:action="@{/admin/abonnements/{id}(id=${abonnement.id})}" th:object="${abonnement}" method="POST">
                    <div  class ="form-group">
                        <label for="date"> Subscription Date</label>
                        <input
                                type = "date"
                                name = "dateAb"
                                th:field = "*{dateAb}"
                                class = "form-control"
                                placeholder="Enter Subscription Date"
                                id="date"
                        />
                   </div>
                    <label for="typeAb">Type </label><br>
                    <select id="typeAb" name="typeAb" th:field="*{typeAb}">
                        <option value="GSM">GSM</option>
                        <option value="INTERNET">INTERNET</option>
                        <option value="TELEPHONE_FIXE">TELEPHONE_FIXE</option>
                    </select><br><br>
                    <div class ="form-group">
                        <label for="solde"> Balance </label>
                        <input
                                type = "text"
                                name = "solde"
                                th:field = "*{solde}"
                                class = "form-control"
                                placeholder="Enter Balance"
                                id="solde"
                        />
                   </div>
                    <div class ="form-group">
                        <label for="montant"> Amount </label>
                        <input
                                type = "text"
                                name = "montant"
                                th:field = "*{montant}"
                                class = "form-control"
                                placeholder="Enter The Amount"
                                id="montant"
                        />
                   </div>
                    <label for="clientId" hidden>Client ID </label><br>
                    <input type="number" id="clientId" name="clientId" th:value="${clientId}" hidden>
                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>